/* 
    Document   : css_window
    Created on : 15-abril-2015, 18:14:26
    Linked in  : BPT/top.php
    Description:
        En este archivo estaran los estilos para los componentes propios del
        objeto WindowContainer
*/
/*pirateado desde Boton Builder http://bootsnipp.com/buttons*/
.glipgrid-icons{
  list-style: none;
}
.glipgrid-icons li {
  float: left;
  line-height: 20px;
}
.glipgridButton {
background-color: #fff; border-color: #ccc;
}